---
import BaseLayout from '../../layouts/BaseLayout.astro';
import {formatDate} from "../../helpers/dateHelpers";

const allPosts = await Astro.glob('../../pages/posts/**/*.mdx');
const sortedDescendingAllPosts = allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
---

<BaseLayout>
    <h2>Posts</h2>
    {sortedDescendingAllPosts.map((post) => 
        <li>
            <a href={post.url}>
                {`${post.frontmatter.title} - ${formatDate(post.frontmatter.pubDate)}`}
            </a>
        </li>
    )}
</BaseLayout>
