html {
    font-family: sans-serif;
}
  
body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 0 1rem;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
}